body{
    background-color: rgb(166, 225, 233);
    font-family: 'Times New Roman', Times, serif;
    }
    h1{
        text-align: center;
        color: darkred;
        
    }
    h2{
        text-align: center;
    }
    .eje1{
    background-color: rgba(74, 85, 241, 0.849);
    text-align: center;
    margin: 0 auto;
    width: 300px;
    padding: 30px;
    margin-bottom: 40px; 
    border-radius: 6px;
    margin-top: 60px;
    }
    .eje2{
    background-color: rgba(74, 85, 241, 0.849);
    text-align: center;
    margin: 0 auto;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    }
    input{
    width: 250px;
    padding: 3px;
    font-size: 25px;
    border-radius: 6px;
    margin-bottom: 15px; 
    border: none;
    }
    .submit{
    background-color: #aaa;
    cursor: pointer;
    }
    
    .submit:hover{
    background-color: #2a1a74;
    }
    